dev/all.html
<!DOCTYPE html>
<html class="no-js" lang="uk">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Громадський бюджет / Індекс</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link href="assets/css/master.css" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  </head>
  <body>
      <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
      <!-- Loader end-->
    <div class="page-wrapper l-theme" id="main-content">
      <div class="page-inner">
        <main class="l-content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="section-default text-center">
                  <h1>Перелік сторінок</h1>
                  <ul class="list-page list-unstyled" style="text-align: left;">
                    <li><a class="text-success" href="index.html" target="_blank">Головна</a></li>
                    <li><a class="text-success" href="index-full.html" target="_blank">Головна повна</a></li>
                    <li><a class="text-success" href="index_test.html" target="_blank">Головна тестовая модаль</a></li>
                    <li><a class="text-success" href="about.html" target="_blank">Про нас</a></li>
                    <li><a class="text-success" href="login.html" target="_blank">Логін</a></li>
                    <li><a class="text-success" href="registration.html" target="_blank">Регістрація</a></li>
                    <li><a class="text-success" href="category.html" target="_blank">Категорія</a></li>
                    <li><a class="text-success" href="search.html" target="_blank">Пошук</a></li>
                    <li><a class="text-success" href="search_null.html" target="_blank">Пошук / не знайдено</a></li>
                    <li><a class="text-success" href="form-appeal.html" target="_blank">Відгуки та пропозиції</a></li>
                    <li><a class="text-success" href="new-project.html" target="_blank">Створити проект</a></li>
                    <li><a class="text-success" href="project.html" target="_blank">Проект</a></li>
                    <li><a class="text-success" href="new-idea.html" target="_blank">Створити ідею</a></li>
                    <li><a class="text-success" href="idea.html" target="_blank">Ідея</a></li>
                    <li><a class="text-success" href="home.html" target="_blank"></a></li>
                    <li><a class="text-success" href="ui.html" target="_blank">UI</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div class="page__buffer"></div>
      </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <div class="footer-main">
                  <div class="footer-logo"><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="img-fluid" src="assets/media/general/logo-emblem-2.png" alt="Герб"></a></span><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="img-fluid" src="assets/media/general/logo-region.svg" alt="Герб"></a></span></div>
                  <div class="footer__title">Громадський бюджет<span class="footer__title-sm">м. Запоріжжя</span></div><a class="footer__btn btn btn-white" href="#">Зворотній зв'язок</a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col">
                    <div class="footer-section">
                      <div class="footer-section__title">Меню</div>
                      <ul class="footer-list list-unstyled">
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Інструкції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Нормативно-правова база</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Повідомити про технічни негаразди або пропозиції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Сервіси</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-auto col">
                    <div class="footer-section d-none d-md-block">
                      <div class="footer-section__title">Меню</div>
                      <ul class="footer-list list-unstyled">
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Інструкції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Нормативно-правова база</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Повідомити про технічни негаразди або пропозиції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Сервіси</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <div class="footer-devel"><a class="footer-devel__img" href="https://bissoft.org/" target="_blank"><img src="assets/media/general/logo-bisoft.png" alt="«БІС-СОФТ»"></a><a class="footer-devel__text" href="https://bissoft.org/" target="_blank">Компанія «БІС-СОФТ»<br>Всі права захищені.</a></div>
                </div>
                <div class="col-md">
                  <div class="footer-copyright">
            <svg class="ic" width="30" height="30">
                <use xlink:href="../svg-symbols.svg#creative-commons"></use>
            </svg>
        
                    <div class="footer-copyright__info">Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня</div>
                  </div>
                </div>
                <div class="col-md-auto">
                    <ul class="soc-link list-inline">
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-facebook-square"></i></a></li>
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-twitter"></i></a></li>
                    </ul>
                    <!-- end .b-soc-link-->
                </div>
              </div>
            </div>
          </div>
        </footer>
    </div>
    <!-- Modal government-->
      <div class="modal fade" id="modalGov" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modalGov" role="document">
          <div class="wrap">
            <ul class="wrap-link">
              <li><a href="https://www.president.gov.ua/" target="_blank">Президент України</a></li>
              <li><a href="https://rada.gov.ua/" target="_blank"> Верховна Рада України</a></li>
            </ul>
            <ul class="wrap-link">
              <li><a href="http://www.ccu.gov.ua/" target="_blank">Конституційний суд України</a></li>
              <li><a href="http://www.rnbo.gov.ua/" target="_blank">Рада національної безпеки і оборони України</a></li>
            </ul>
            <ul class="wrap-link">
              <li><a href="index.html" target="_blank">Центральні та місцеві органи виконавчої влади</a></li>
            </ul>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-gov-->
    <!-- Modal test-->
      <div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="b-modal-test modal-content">
            <div class="b-modal-test__title">Завершуємо налаштування</div>
            <div class="b-modal-test__info">Ми хочемо зробити дуже зручний веб сервіс для Вас і всіх мешканців нашого міста, зовсім скоро Ви зможемо скористатися всіма його функціями.</div>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-test-->
      
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Select customization-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Accessibility-->
    <script src="assets/plugins/accessibility/accessibility.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- Slider-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>

markup/pages/all.pug
extends _template.pug

include ../components/b-accessibility/b-accessibility

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Перелік сторінок
            ul.list-page.list-unstyled(style="text-align: left;")
              li
                a.text-success(href="index.html" target="_blank") Головна
              li
                a.text-success(href="index-full.html" target="_blank") Головна повна
              li
                a.text-success(href="index_test.html" target="_blank") Головна тестовая модаль
              li
                a.text-success(href="about.html" target="_blank") Про нас
              li
                a.text-success(href="login.html" target="_blank") Логін
              li
                a.text-success(href="registration.html" target="_blank") Регістрація
              li
                a.text-success(href="category.html" target="_blank") Категорія
              li
                a.text-success(href="search.html" target="_blank") Пошук
              li
                a.text-success(href="search_null.html" target="_blank") Пошук / не знайдено
              li
                a.text-success(href="form-appeal.html" target="_blank") Відгуки та пропозиції
              li
                a.text-success(href="new-project.html" target="_blank") Створити проект
              li
                a.text-success(href="project.html" target="_blank") Проект
              li
                a.text-success(href="new-idea.html" target="_blank") Створити ідею
              li
                a.text-success(href="idea.html" target="_blank") Ідея
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="ui.html" target="_blank") UI

  .page__buffer
